# FastAPI core
fastapi
uvicorn[standard]
gunicorn

# Config & validation
pydantic
pydantic-settings
python-dotenv

# HTTP client
httpx

# Auth / JWT
PyJWT

# Multipart form (upload file)
python-multipart

# Database
SQLAlchemy>=2.0
asyncpg
psycopg2-binary

# Web3 / Blockchain
web3

# Utils
requests
